<div class="p-2">
  <!--          lista de usuarios           -->
  <p-table
    [tableStyle]="{ 'min-width': '50rem' }"
    [value]="usersList"
    [loading]="loading"
    [rows]="10"
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <!--  header-->
    <ng-template pTemplate="header">
      <tr>
        <th>Nick</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Administrador</th>
        <th>
          <!--        boton nuevo usuario-->
          <p-button
            label="Crear usuario"
            styleClass="p-button-outlined p-button-help p-button-sm"
            (click)="newUserHandler()"
            title="Crear usuario"
          >
          </p-button>
        </th>
        <th class="flex justify-content-end">
          <p-button
            icon="pi pi-sign-out"
            styleClass="p-button-sm p-button-danger"
            title="Cerrar sesion"
            (click)="logOut()"
          ></p-button>
        </th>
      </tr>
    </ng-template>
    <!--  datos de la tabla-->
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.nick }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.active == 1 ? "si" : "no" }}</td>
        <td>{{ user.admin == 1 ? "si" : "no" }}</td>
        <!--      boton editar-->
        <td>
          <p-button
            icon="pi pi-user-edit"
            label="Editar"
            styleClass="p-button-rounded p-button-raised p-button-secondary p-button-sm"
            (click)="editHandler(user)"
            title="Editar usuario"
          >
          </p-button>
        </td>
        <!--      boton eliminar-->
        <td>
          <p-button
            [disabled]="user.admin == true"
            icon="pi pi-times"
            label="Eliminar"
            styleClass="p-button-rounded p-button-raised p-button-danger p-button-sm"
            (onClick)="confirmDelete(user)"
            title="Eliminar usuario"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
    <!--  footer-->
    <ng-template pTemplate="summary">
      <div class="d-flex justify-content-start align-items-center">
        <div class="mx-4">
          Existen {{ usersList ? usersList.length : 0 }} usuarios.
        </div>
      </div>
    </ng-template>
  </p-table>
  <!--          fin lista de usuarios           -->
</div>

<!--          formulario de editar         -->
<app-edit-form
  [selectedUser]="selectedUser"
  *ngIf="activeEdit"
  (cancelEvent)="cancelHandler()"
  (saveEvent)="confirmEditSave($event)"
>
</app-edit-form>
<!--          fin formulario editar           -->

<!--          formulario nuevo usuario           -->
<app-create-form
  [newUser]="newUser"
  *ngIf="activeNewUser"
  (cancelEvent)="cancelHandler()"
  (saveEvent)="confirmCreateSave($event)"
>
</app-create-form>
<!--          fin formulario nuevo usuario           -->

<!--          dialogo de confirmacion         -->
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [acceptLabel]="'Confirmar'"
  [rejectLabel]="'Cancelar'"
>
</p-confirmDialog>

<p-toast position="top-center"></p-toast>
