<p-dialog
  header="Crear nuevo usuario"
  [(visible)]="activeNewUser"
  [style]="{ width: '35vw' }"
>
  <form class="formbox">
    <div class="d-flex flex-column">
      <!-- input email -->
      <div class="d-flex justify-content-center">
        <span class="p-float-label">
          <input
            id="email"
            pInputText
            class="p-inputtext-lg"
            name="email"
            type="email"
            [(ngModel)]="user.email"
            aria-describedby="input-email"
            (ngModelChange)="checkFormValidity()"
            [ngClass]="{ 'ng-invalid': errorEmail, 'ng-dirty': errorEmail }"
          />
          <label for="email" class="mb-3 font-bold">Email</label>
        </span>
      </div>
      <div class="h-3rem flex justify-content-center">
        <small *ngIf="errorEmail" id="input-email" class="p-error">{{
          errorEmail
        }}</small>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <span class="p-float-label">
        <input
          id="password"
          type="password"
          pPassword
          class="p-inputtext-lg"
          name="password"
          [(ngModel)]="user.passwd"
          aria-describedby="input-pass"
          (ngModelChange)="checkFormValidity()"
          [ngClass]="{ 'ng-invalid': errorPass, 'ng-dirty': errorPass }"
        />
        <label for="password" class="mb-3 font-bold">Password</label>
      </span>
    </div>
    <div class="h-3rem flex justify-content-center">
      <small *ngIf="errorPass" id="input-pass" class="p-error">{{
        errorPass
      }}</small>
    </div>
    <!-- input nick -->
    <div class="d-flex justify-content-center">
      <span class="p-float-label">
        <input
          id="nick"
          pInputText
          class="p-inputtext-lg"
          name="nick"
          type="text"
          aria-describedby="input-nick"
          [(ngModel)]="user.nick"
          (ngModelChange)="checkFormValidity()"
          [ngClass]="{ 'ng-invalid': errorNick, 'ng-dirty': errorNick }"
        />
        <label for="nick" class="mb-3 font-bold">Nick</label>
      </span>
    </div>
    <div class="h-3rem flex justify-content-center">
      <small *ngIf="errorNick" id="input-nick" class="p-error">{{
        errorNick
      }}</small>
    </div>

    <p-divider></p-divider>

    <!-- botones de guardar y cancelar -->
    <div class="flex justify-content-between mt-5">
      <p-button
        label="Guardar"
        styleClass="p-button-raised ml-8"
        (onClick)="onSave()"
        title="Guardar nuevo usuario"
        [disabled]="!formCreate"
      >
      </p-button>
      <p-button
        label="Cancelar"
        styleClass="
        p-button-raised
        p-button-danger mr-8"
        (click)="onCancel()"
        title="Cancelar crear usuario"
      >
      </p-button>
    </div>
  </form>
</p-dialog>
